.left-align{text-align:left!important}.right-align{text-align:right!important}.justify{text-align:justify!important}.center{text-align:center!important}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.theme {
	color:#fff !important; 
	background-color:#333 !important}

.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.container{padding:0.01em 16px;
margin-bottom: 50px;
}
.responsive{display:block;overflow-x:auto}

.card-4{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.tableregister{border-collapse:collapse;border-spacing:0;width:25%;display:table;margin: 0 auto;}
.tableregister td,.tableregister th,.table td,.table th{padding:8px 8px;display:table-cell;text-align:center;vertical-align:top}
.table th:first-child,.table td:first-child,.tableregister th:first-child,.tableregister td:first-child{padding-left:16px}

.white{color:#000!important;background-color:#fff!important}
.bordered tr{border-bottom:1px solid #ddd}
.striped tbody tr:nth-child(even){background-color:#f1f1f1}


.rwd-line{
display: inline; 
}

.pomiary_checkbox{
    width:30px;
    height:30px;
    top: 10px;
    cursor: pointer;
	position: relative; 
}
.pomiary
{
	background-color: #333;
	width: 50%;
	padding: 25px;
	border-radius: 10px;
	margin: 0 auto;
}

.pomiary_input
{
	width: 45%;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}
.pomiary_button
{
  text-align: center;
	width: 15%;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
}

.pomiary_label
{
  color: white;
	font-size: 20px;
	padding: 3px;
}
.pomiary_belka {
 text-align: center;
}

.odwiedziny
{
	background-color: #333;
	width: 50%;
	padding: 25px;
	border-radius: 10px;
	margin: 0 auto;
}

.odwiedziny_input
{
	width: 35%;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}
.odwiedziny_button
{
  text-align: center;
	width: 15%;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}

.odwiedziny_label
{
  color: white;
	font-size: 20px;
	padding: 3px;
}

.logowania
{
	background-color: #333;
	width: 70%;
	padding: 25px;
	border-radius: 10px;
	margin: 0 auto;
}

.logowania_input
{
	width: 20%;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}

.logowania_input2
{
	width: 20%;
	border-radius: 10px;
	font-size: 20px;
	padding: 14px;
	box-sizing: border-box;
}
.logowania_button
{
  text-align: center;
	width: 10%;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}

.logowania_label
{
  color: white;
	font-size: 20px;
	padding: 3px;
}

.register
{
	background-color: #333;
	width: 15%;
	padding: 25px;
	border-radius: 10px;
	margin: 0 auto;
}

.register_input
{
	width: 100%;
	border: 1px;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
    box-sizing: border-box;	
}

#button3 {
    background-color: #a0a0a0;  
}
#button3:hover {
     background-color: #adadad;
}

body {
margin-bottom: 100px;
margin: 0;
font-family: Arial, Helvetica, sans-serif;

}

/* Menu główne */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a, .topnav a2{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #804d4d;
  color: white;
}

.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
 padding-bottom: 0;
}
	


/*panel logowania w menu*/

.topnav .login-container {
  float: right; 
}

.topnav input[type=text], .topnav input[type=password] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container .button1:hover {
  background-color: green;
}

.topnav .login-container .button2:hover {
  background-color: red;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
}
  
.topnav a, .topnav a2, .topnav input[type=text], .topnav input[type=password], .topnav .login-container button, .topnav .logout-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
.topnav input[type=text], .topnav input[type=password] {
    border: 1px solid #ccc;  
  }
   
.register
{
	width: 90%;
	padding: 15px;
	border-radius: 10px;
	margin-top: 5%;
}

.register_input
{
	margin: 0 auto; 
	width: 100%;
	border: 1px;
	border-radius: 10px;
	padding: 10px;
    /*box-sizing: border-box;	*/
}
 
 .tableregister{
border-collapse:collapse;
 border-spacing:0;
 width:100%;
 display:table;
 margin: 0 auto;}
 
.rwd-line{
display: block; 
}
 }
 
 @media screen and (max-width: 1800px) { 
  .pomiary
{
	width: 90%;
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
}

.pomiary_input
{
	margin: 0 auto; 
	width: 100%;
	border: 1px;
	border-radius: 10px;
	padding: 10px;

}



.pomiary_button
{
	margin: 0 auto; 
	text-align: center;
	width: 100%;
	margin-top:10px;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}
 
 .odwiedziny
{
	width: 90%;
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
}

.odwiedziny_input
{
	margin: 0 auto; 
	width: 100%;
	border: 1px;
	border-radius: 10px;
	padding: 10px;
    /*box-sizing: border-box;	*/
}

.odwiedziny_input2
{	
	margin: 0 auto; 
	width: 45%;
	margin-top:10px;
	border-radius: 10px;
	font-size: 20px;
	padding: 14px;
	box-sizing: border-box;
}

.odwiedziny_button
{
	margin: 0 auto; 
	text-align: center;
	width: 100%;
	margin-top:10px;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}
 
 .tableodwiedziny{
border-collapse:collapse;
 border-spacing:0;
 width:100%;
 display:table;
 margin: 0 auto;}
 
.logowania
{
	width: 90%;
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
}

.logowania_input
{
	margin: 0 auto; 
	width: 100%;
	border: 1px;
	border-radius: 10px;
	padding: 10px;
    /*box-sizing: border-box;	*/
}

.logowania_input2
{	
	margin: 0 auto; 
	width: 45%;
	margin-top:10px;
	border-radius: 10px;
	font-size: 20px;
	padding: 14px;
	box-sizing: border-box;
}

.logowania_button
{
	margin: 0 auto; 
	text-align: center;
	width: 100%;
	margin-top:10px;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
  box-sizing: border-box;	
}
 
 .tablelogowania{
border-collapse:collapse;
 border-spacing:0;
 width:100%;
 display:table;
 margin: 0 auto;}
}

 
