html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
html{overflow-x:hidden}
h3{font-size:24px;font-weight:400;margin:10px 0}
h4{font-size:20px;font-weight:400;margin:10px 0}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-third{float:left;width:100%}
@media (min-width:601px){.w3-third{width:33.33333%}}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container{padding:0.01em 16px}
.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-center{text-align:center!important}
.w3-margin-top{margin-top:16px!important}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}